@using CaroOnline.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Caro Online</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("css", false)
</head>
@* background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%); *@
<body class="" style="  background: linear-gradient(to right, #02111d, #037bb5, #02111d);">

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@
    <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav  fixed mdb-sidenav  blue-gradient" style="transform: translateX(-100%);display:none!important">
            <ul class="custom-scrollbar list-unstyled scrollbar scrollbar-danger">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light waves-effect waves-light">
                        @*<a href="#"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>*@
                    </div>
                </li>
                <!--/. Logo -->
                <!--Social-->
                <li>
                    @*<ul class="social">
                            <li><a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                            <li><a href="#" class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                            <li><a href="#" class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                            <li><a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
                        </ul>*@
                </li>
                <!--/Social-->
                <!--Search Form-->
                <li>
                    <form class="search-form" role="search">
                        <div class="form-group waves-light waves-effect waves-light">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </li>
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-cogs"></i> Hệ thống<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Categories","Admin")" class="waves-effect"><i class="fa fa-list"></i> Danh mục</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Registration form</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-file-text-o"></i>Bài viết<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Posts","Admin")" class="waves-effect"> <i class="fa fa-list"></i>Danh sách</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddPost","Admin")" class="waves-effect"><i class="fa fa-pencil"></i>Viết bài</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-eye"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Introduction</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Monthly meetings</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-envelope-o"></i> Contact me<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Write a message</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Write a message</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Write a message</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Write a message</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav blue-gradient" style="display:none!important">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>Material Design for Bootstrap</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>

    <main>
        <div class="container-fluid body-content mt-1">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card testimonial-card">

                        <!--Bacground color-->
                        <div class="card-up" style="background-image: url('/Content/images.jpg');background-repeat:round">
                        </div>

                        <!--Avatar-->
                        <div class="avatar">
                            <img src="~/Content/default_user.png" class="rounded-circle" />
                            @*<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">*@
                        </div>

                        <div class="card-body px-1 pt-0 pb-1">
                            <!--Name-->
                            <a class="activator pt-1"><i class="fa fa-circle success-text"></i></a>
                            @if (CurrentContext.IsLogged())
                            {
                                 
                                    
                                
                                <p class="mb-1 card-title primary-text grey lighten-4 py-1 justify-content-center h4 " id="currUserName">@CurrentContext.GetCurUser().Name &nbsp; &nbsp;</p>
                                <input type="hidden" id="currConnectID" />

                                <h6 class="red-text ">
                                    @{ 
                                        var point = CurrentContext.GetCurUser().Point.HasValue ? CurrentContext.GetCurUser().Point : 0;
                                        var win= CurrentContext.GetCurUser().Win.HasValue ?CurrentContext.GetCurUser().Win : 0;
                                        var lost = CurrentContext.GetCurUser().Lost.HasValue? CurrentContext.GetCurUser().Lost:0;
                                        var equal = CurrentContext.GetCurUser().Equal.HasValue? CurrentContext.GetCurUser().Equal:0;
                                    }
                                    @point Điểm
                                </h6>
                                @*<a class="btn-floating btn-lg green"><i class="fa fa-bolt"></i></a>*@
                                <h5 class="badge badge-pill success-color font-weight-light">@win Thắng</h5>
                                <h5 class="badge badge-pill danger-color font-weight-light">@lost Thua</h5>
                                <h5 class="badge badge-pill special-color font-weight-light">@equal Hòa</h5>
                            }
                            
                            <hr>
                            <div class="list-group">
                                @if (Request.Url.AbsolutePath.Contains("/Home/Index") || Request.Url.AbsolutePath == "")
                                {
                                    <a href="/Home/Index" class="list-group-item list-group-item-action active card my-1 font-weight-normal h4-responsive text-uppercase">
                                        <i class="fa fa-home">&nbsp;|&nbsp;</i>Trang chủ
                                    </a>
                                }
                                else
                                {
                                    <a href="/Home/Index" class="hvr-underline-from-center list-group-item card my-1 font-weight-normal h4-responsive text-uppercase">
                                        <i class="fa fa-home text-danger">&nbsp;|&nbsp;</i>Trang chủ
                                    </a>
                                }
                                @if (Request.Url.AbsolutePath.Contains("/Home/Play"))
                                {
                                    <a href="/Home/Play" class="hvr-underline-from-center list-group-item list-group-item-action card my-1 font-weight-normal h4-responsive text-uppercase"><i class="fa fa-gamepad">&nbsp;|&nbsp;</i>  Vào chơi</a>
                                }
                                else
                                {
                                    <a href="/Home/Play" class="hvr-underline-from-center list-group-item list-group-item-action card my-1 font-weight-normal h4-responsive text-uppercase"><i class="fa fa-gamepad text-danger">&nbsp;|&nbsp;</i>  Vào chơi</a>
                                }
                                @if (Request.Url.AbsolutePath.Contains("/Home/History"))
                                {
                                    <a href="/Home/History" class=" list-group-item list-group-item-action card my-1 h4-responsive text-uppercase active"><i class="fa fa-history ">&nbsp;|&nbsp;</i> Lịch sử thi đấu </a>
                                }
                                else
                                {
                                    <a href="/Home/History" class="hvr-underline-from-center list-group-item list-group-item-action card my-1 h4-responsive text-uppercase"><i class="fa fa-history text-danger">&nbsp;|&nbsp;</i> Lịch sử thi đấu </a>
                                }




                                <a href="/Home/" class="hvr-underline-from-center list-group-item list-group-item-action card my-1 h4-responsive text-uppercase"><i class="fa fa-save text-danger">&nbsp;|&nbsp;</i> Ván đấu đã lưu</a>
                                <a href="/Home/Logout" class="hvr-underline-from-center list-group-item list-group-item-action card my-1 h4-responsive text-uppercase"><i class="fa fa-sign-out text-danger">&nbsp;|&nbsp;</i> Thoát</a>
                                @*<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>*@
                            </div>

                        </div>

                    </div>



                </div>
                @RenderBody()

            </div>

        </div>
    </main>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    @*<script src="~/Content/js/jquery-3.1.1.js"></script>*@
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/mdb.min.js"></script>
    <script>
        $('.collapsible').collapsible();
        //$('.button-collapse').sideNav('show');
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // Data Picker Initialization
        $('.datepicker').pickadate();

        // Tooltip Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("js", false)
</body>
</html>