@using CaroOnline.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Caro Online</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body class="" style="background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);">

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@
    <main>
        <div class="container-fluid body-content mt-1">
            <div class="row">
                <div class="col-3">
                    <div class="card testimonial-card">

                        <!--Bacground color-->
                        <div class="card-up" style="background-image: url('/Content/images.jpg');background-repeat:round">
                        </div>

                        <!--Avatar-->
                        <div class="avatar">
                            <img src="~/Content/default_user.png" class="rounded-circle" />
                            @*<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">*@
                        </div>

                        <div class="card-body px-1 pt-0 pb-1">
                            <!--Name-->
                            <a class="activator pt-4"><i class="fa fa-circle success-text"></i></a>
                            @if (CurrentContext.IsLogged())
                            {
                                <p class="mb-1 card-title primary-text grey lighten-4 py-1 justify-content-center h4">@CurrentContext.GetCurUser().Name &nbsp; &nbsp;</p>

                            }
                            <h6 class="warning-text">
                                Điểm: 500&nbsp;<i class="fa fa-heart"></i>
                            </h6>
                            <h5 class="badge badge-pill success-color font-weight-light">10 Thắng</h5>
                            <h5 class="badge badge-pill danger-color font-weight-light">10 Thua</h5>
                            <h5 class="badge badge-pill special-color font-weight-light">10 Hòa</h5>
                            <hr>
                            <div class="list-group">
                                @if (Request.Url.AbsolutePath.Contains("/Home/Index"))
                                {
                                    <a href="/Home/Index" class=" list-group-item list-group-item-action active card my-1 font-weight-normal h4-responsive">
                                        <i class="fa fa-home">&nbsp;|&nbsp;</i>Trang chủ
                                    </a>
                                }
                                else
                                {
                                    <a href="/Home/Index" class=" list-group-item card my-1 font-weight-normal h4-responsive">
                                        <i class="fa fa-home text-danger">&nbsp;|&nbsp;</i>Trang chủ
                                    </a>
                                }
                                @if (Request.Url.AbsolutePath.Contains("/Home/Play"))
                                {
                                    <a href="/Home/Play" class="list-group-item list-group-item-action card my-1 font-weight-normal active h4-responsive"><i class="fa fa-gamepad">&nbsp;|&nbsp;</i>  Vào chơi</a>
                                }
                                else
                                {
                                    <a href="/Home/Play" class="list-group-item list-group-item-action card my-1 font-weight-normal h4-responsive"><i class="fa fa-gamepad text-danger">&nbsp;|&nbsp;</i>  Vào chơi</a>
                                }




                                <a href="/Home/History" class="list-group-item list-group-item-action card my-1 h4-responsive"><i class="fa fa-history text-danger">&nbsp;|&nbsp;</i> Lịch sử thi đấu </a>
                                <a href="/Home/" class="list-group-item list-group-item-action card my-1 h4-responsive"><i class="fa fa-save text-danger">&nbsp;|&nbsp;</i> Ván đấu đã lưu</a>
                                <a href="/Home/Logout" class="list-group-item list-group-item-action card my-1 h4-responsive"><i class="fa fa-sign-out text-danger">&nbsp;|&nbsp;</i> Thoát</a>
                                @*<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>*@
                            </div>

                        </div>

                    </div>



                </div>
                @RenderBody()

            </div>

        </div>
    </main>


    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/ResizeSensor.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    @*<script src="~/Content/js/bootstrap.js"></script>*@
    <script src="~/Content/js/bootstrap.min.js"></script>
    @*<script src="~/Content/js/mdb.min.js"></script>*@
    <script>



    </script>
    @RenderSection("js", false)
</body>
</html>