@using CaroOnline.Helper
@using CaroOnline.Models
@model List<Games>
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-9 col-md-9 col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified indigo rounded p-2" role="tablist" style="background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);">
        <li class="nav-item">
            <a class="nav-link active h4-responsive" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-history mr-2"></i>LỊCH SỬ THI ĐẤU</a>
        </li>
    </ul>
    <!-- Tab panels -->
    <div class="tab-content grey lighten-3 card px-1 rounded pb-4" style="">
        <!--Panel 1-->
        <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
            <div class="card-body px-2 ">
                <div class="row">
                    @{ 
                        var currName = CurrentContext.GetCurUser().Name;
                    }
                    @foreach(var item in Model)
                    {

                        <div class="col-md-6 mb-2">
                            <div class="card">
                                <div class="card-body p-0">
                                    @if (currName == item.Winer)
                                    {
                                        <blockquote class="blockquote bq-success mb-0 p-0 ">
                                            <ul class="list-group list-group-flush">
                                                @if (item.User1 == currName)
                                                {
                                                    <li class="list-group-item py-1 white-text success-color"><i class="fa fa-user-circle-o"></i> Đối thủ: @item.User2</li>
                                                }
                                                else
                                                {
                                                    <li class="list-group-item py-1 white-text success-color"><i class="fa fa-user-circle-o"></i> Đối thủ: @item.User1</li>
                                                }
                                                <li class="list-group-item py-1"><i class="fa fa-angle-right"></i> Kết quả: Thắng</li>
                                                <li class="list-group-item py-1"><i class="fa fa-calendar"></i> Ngày: @item.DateGame.Value.ToString("HH:mm - dd/MM")</li>

                                            </ul>
                                        </blockquote>
                                    }
                                    else
                                    {
                                        <blockquote class="blockquote bq-danger mb-0 p-0 ">
                                            <ul class="list-group list-group-flush">
                                                @if (item.User1 == currName)
                                                {
                                                    <li class="list-group-item py-1 white-text danger-color"><i class="fa fa-user-circle-o"></i> Đối thủ: @item.User2</li>
                                                }
                                                else
                                                {
                                                    <li class="list-group-item py-1 white-text danger-color"><i class="fa fa-user-circle-o"></i> Đối thủ: @item.User1</li>
                                                }
                                                <li class="list-group-item py-1"><i class="fa fa-angle-right"></i> Kết quả: Thua</li>
                                                <li class="list-group-item py-1"><i class="fa fa-calendar"></i> Ngày: @item.DateGame.Value.ToString("HH:mm - dd/MM ")</li>

                                            </ul>
                                        </blockquote>
                                    }


                                </div>
                            </div>
                        </div>
                    }
                    
                    
                </div>
               
                
            </div>
        </div>
        <!--/.Panel 1-->
       
    </div>

</div>