@using CaroOnline.Helper
@using CaroOnline.Models
@model List<Users>
@{
    ViewBag.Title = "Index";
}

<div class="col-9 ">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified indigo rounded p-2" role="tablist" style="background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);">
        <li class="nav-item">
            <a class="nav-link active h4-responsive" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-users"></i> Cộng đồng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h4-responsive" data-toggle="tab" href="#panel6" role="tab"><i class="fa fa-trophy"></i> Top game thủ</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-envelope"></i> Mail</a>
            </li>*@
    </ul>
    <!-- Tab panels -->
    <div class="tab-content grey lighten-3 card px-1 rounded pb-4" style="">
        <!--Panel 1-->
        <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
            <div class="card-body pt-2">
                
                <div id="test"><button class="btn btn-default" id="btnTest">Test</button></div>
                <div class="row">

                    @foreach(var us in Model)
                    {
                        <div class="col-2 mb-2 px-1 User" id="@us.Name" data-uID="@us.ID" data-cnnID="">
                            <div class="card text-center">
                                <div class="card-body px-5">
                                    @*<img src="~/Content/default_user.png" />*@
                                    <img src="~/Content/default_user.png" alt="Material Design for Bootstrap - example photo" class="img-fluid rounded-circle z-depth-1-half">
                                </div>
                                <h6 class="card-title primary-text grey lighten-4 py-1 mb-1">
                                    @us.Name
                                    @if (us.ID % 2 == 0)
                                    {
                                        <i class="fa fa-circle success-text"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-circle grey-text"></i>
                                    }
                                </h6>
                                <p class="warning-text mb-1">
                                    Điểm: 500 &nbsp;<i class="fa fa-heart"></i>

                                </p>
                                <div class="card-footer px-0 pt-0 pt-1">
                                    <span class="badge badge-pill success-color font-weight-light">10 Thắng</span>
                                    <span class="badge badge-pill danger-color font-weight-light">10 Thua</span>
                                    <span class="badge badge-pill special-color font-weight-light">10 Hòa</span>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <nav aria-label="..." class="float-right">
                    <ul class="pagination pg-red">
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link waves-effect waves-effect" href="#">
                                2
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect">»</a>
                        </li>
                    </ul>
                </nav>




            </div>
        </div>
        <!--/.Panel 1-->
        <!--Panel 2-->
        <div class="tab-pane fade" id="panel6" role="tabpanel">
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
        <!--/.Panel 2-->
        <!--Panel 3-->
        @*<div class="tab-pane fade" id="panel7" role="tabpanel">
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
            </div>*@
        <!--/.Panel 3-->
    </div>

</div>



@section js{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    @*<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>*@
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {
            var t = "@ViewBag.msgError";
            if (t != "") {
                toastr.error(t, "Thông báo", {
                    "positionClass": "toast-top-right",
                });
            }
            t = "@ViewBag.msgSuccess";
            if (t != "") {
                toastr.success(t, "Thông báo", {
                    "positionClass": "toast-top-right",
                });
            }
        });
        $(function () {
            var user =@Html.Raw(Json.Encode(CurrentContext.GetCurUser()));
            var login = 1;
            // Reference the auto-generated proxy for the hub.
            $.connection.hub.qs = { 'Uname' : user.Name };
            var chat = $.connection.onlineHub;
            //$.connection.onlineHub.qs="Uname="+user.Name;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                $('#test').append('<p>'+   name + '-' + message+'</p>');
            };
            chat.client.sendTo = function (name, message,id) {
                // Add the message to the page.
                $('#test').append('<p>'+ name + '-' + message+' - ' +id +'</p>');
            };

            chat.client.updateConnectionID=function(listUsers){
                //console.log(listUsers);
                
                listUsers.forEach(function(item){
                    $("#"+item.Name).data("cID",item.cID);
                });

                //for (var i = 0; i < listUsers.length; i++) {
                //    $()
                //}
            }


            // Start the connection.
            
            $.connection.hub.start().done(function () {
                $('#currConnectID').val($.connection.hub.id);
                chat.server.updateConnectionID();
                $('#btnTest').on('click',function(){
                    chat.server.send(user.Name,'ND');
                    chat.server.sendTo(user.Name,'To',1);
                });
                if (user != null && login==1) {
                    
                }
                
            });


        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

    </script>

}